# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Distribution / packaging
.Python
env/
venv/
lib/
build/
develop-eggs/
dist/
eggs/
*.egg
parts/
sdist/
var/
wheels/
share/python-wheels/
*.whl
*.mo
*.pot
*.log
local/

# PyInstaller
*.spec
